body {
   background-image: url("bg.jpg");
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16vh;
}
.math, .chemistry, .universe {
  border: 2px solid;
  padding: 5px;
  width: 270px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 5px grey;
  transition: transform 0.1s, box-shadow 0.1s;
  position: relative;
}

.math {
  border-color: #00bd85 #2e73a3 #0047de #e6485c;
  background-image: linear-gradient(90deg, purple, yellow, indigo);
  color: #3800ff;
}

.chemistry {
  border-color: #ff3d66 #1ab24c #2459c9 #ed468d;
  background-image: linear-gradient(90deg, green, pink, blue);
  color: #9900ff;
}

.universe {
  border-color: #00bd85 #2e73a3 #0047de #e6485c;
  background-image: linear-gradient(90deg, red, orange, red);
  color: #00a659;
}

.math:active, .chemistry:active, .universe:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
