body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("bg.jpg") no-repeat center center/cover;
  font-family: Arial, sans-serif;
}

.button {
  border: 5px solid;
  display: flex;
  width: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 9vh;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.1s, box-shadow 0.5s;
}

.math {
  border-color: #00bd85 #2e73a3 #0047de #e6485c;
  background: url("math.jpg") no-repeat center center/cover;
  margin-top: 15vh;
  color: #FFF800;
}

.chemistry {
  border-color: #ff3d66 #1ab24c #2459c9 #ed468d;
  background: url("chem.jpg") no-repeat center center/cover;
  color: #FFFFFF;
}

.universe {
  border-color: #00BD85 #FF0000 #0047DE #4855E6;
  background: url("space/space.jpg") no-repeat center center/cover;
  margin-top: 15vh;
  color: #FF0000;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px #000000D9;
}