body {
    color: white;
    background-color: #212121;
}
.info{
  font-size: 2vh;
  margin-left: 2vh;
}
.back{
  font-size: 4vh;
  background: #001C5C;
  padding: 5px;
  border-radius: 10%;
  width: 14vh;
}
table{
  border-spacing: 2px;
}
.spd{
  width: 100%;
}
.f{
  width: 90%;
  justify-self: center;
}
th{
  padding: 5px;
  font-size: 10%;
  border-radius: 10%;
}
.esym{
  font-size: 12px;
}
.z{
  position: relative;
  right: 17px;
}
.nmetal{
  background: #111a37;
  border: 1.2px solid #4d79fe;
  box-shadow: 0 0 5px 1px #4d79fe;
}
.g1{
  background: #37021e;
  border: 1.2px solid #FF0089;
  box-shadow: 0 0 5px 1px #FF0089;
}
.metal{
  background: #36100f;
  border: 1.2px solid #FF0000;
  box-shadow: 0 0 5px 1px #FF0400;
}

.g2{
  background: #340235;
  border: 1.2px solid #FF00F0;
  box-shadow: 0 0 5px 1px #FF00F0;
}
.d{
  background: #0F3245;
  border: 1.2px solid #009BDD;
  box-shadow: 0 0 5px 1px #00B1FF;
}
.metald{
  background: #143720;
  border: 1.2px solid #00FF4E;
  box-shadow: 0 0 5px 1px #00FF4C;
}
.halogen{
  background: #363610;
  border: 1.2px solid #FFFF00;
  box-shadow: 0 0 5px 1px #FFFF00;
}
.nobel{
  background: #391b01;
  border: 1.2px solid #FF7400;
  box-shadow: 0 0 5px 1px #FF7700;
}
.lanth{
  background: #2f3801;
  border: 1.2px solid #A9CC00;
  box-shadow: 0 0 5px 1px #D1FF00;
}
.act {
  background: #371f1f;
  border: 1.2px solid #A22F31;
  box-shadow: 0 0 5px 1px #A22F31;
}
.series{
  font-size: 15px;
}