body {
  color: white;
  background-color: #212121;
}
.bck {
  position: fixed;
  top: 1vh;
  left: 1vh;
  color: white;
  border: 2px solid;
  background: #36365AFC;
  padding: 3px;
  border-radius: 10%;
  cursor: pointer;
}

.info {
  font-size: 2vh;
  margin-left: 2vh;
}

table {
  border-spacing: 2px;
}

.spd {
  width: 100%;
}

.f {
  width: 90%;
  transform: translateX(-40%);
  position: absolute;
  left: 50%;
}

th {
  width: 5.5%;
  font-size: 10px;
  border-radius: 10%;
  transition: 1s ease-in-out;
  cursor: pointer;
}

th:hover {
  color: transparent;
    box-shadow: 0 0 10px 5px #000000;
}

th:hover .esym {
  position: relative;
  top: 12px;
  color: #FFFFFF;
}

.esym {
  font-size: 20px;
  transition: 0.3s ease-in;
}

.z {
  position: relative;
  right: 35%;
  top: 5px;
}

.nmetal {
  background: #111a37;
  border: 1.2px solid #4d79fe;
  box-shadow: 0 0 5px 1px #4d79fe;
}

.g1 {
  background: #37021e;
  border: 1.2px solid #FF0089;
  box-shadow: 0 0 5px 1px #FF0089;
}

.metal {
  background: #36100f;
  border: 1.2px solid #FF0000;
  box-shadow: 0 0 5px 1px #FF0400;
}

.g2 {
  background: #340235;
  border: 1.2px solid #FF00F0;
  box-shadow: 0 0 5px 1px #FF00F0;
}

.d {
  background: #0F3245;
  border: 1.2px solid #009BDD;
  box-shadow: 0 0 5px 1px #00B1FF;
}

.metald {
  background: #143720;
  border: 1.2px solid #00FF4E;
  box-shadow: 0 0 5px 1px #00FF4C;
}

.halogen {
  background: #363610;
  border: 1.2px solid #FFFF00;
  box-shadow: 0 0 5px 1px #FFFF00;
}

.noble {
  background: #391b01;
  border: 1.2px solid #FF7400;
  box-shadow: 0 0 5px 1px #FF7700;
}

.lanth {
  background: #2f3801;
  border: 1.2px solid #A9CC00;
  box-shadow: 0 0 5px 1px #D1FF00;
}

.act {
  background: #371f1f;
  border: 1.2px solid #A22F31;
  box-shadow: 0 0 5px 1px #A22F31;
}

.series {
  font-size: 18px;
}